/* Reset CSS */
/* #region */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion */

/* Global Variables */
:root {
  --header-bg-color: hsl(0, 64%, 36%);

  --nav-bg-color: hsl(56, 56%, 45%);

  --content-bg-color: hsl(187, 51%, 75%);

  --form-bg-color: hsl(46, 22%, 78%);

  --content-card-bg-color: hsla(95, 80%, 50%, 0);

  --footer-bg-color: hsl(106, 60%, 39%);
}

/* Containter Div */
/* #region */
.container {
  display: grid;
  grid-template: 8vh 10vh 77vh 5vh/ 1fr;
  grid-template-areas:
    "headerDiv"
    "navDiv"
    "contentDiv"
    "footerDiv";
}

/* #endregion */

/* Header Div */
/* #region */
.header {
  grid-area: headerDiv;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "header";
  align-items: center;
  justify-items: center;

  background-color: var(--header-bg-color);
}

.header .background {
  grid-area: header;
  height: 7vh;
  width: 90%;
  z-index: 0;
  filter: drop-shadow(2px 2px 4px rgb(56, 56, 56));
}

.header .title {
  grid-area: header;
  z-index: 1;
  font-size: 1.4rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

/* #endregion */

/* Nav Div */
/* #region */
.nav .tab-tray {
  grid-area: navDiv;
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);

  height: 100%;
  background-color: var(--nav-bg-color);
}

.nav .tab {
  background-color: white;

  display: grid;
  justify-items: center;
  align-items: center;

  height: 80%;
  width: 80%;
  align-self: end;
  justify-self: center;
  border-radius: 5px 5px 0px 0px;
}

.nav .tab p {
  font-weight: bold;
  font-size: 1.2rem;
}

/* #endregion */

/* Content Div */
/* #region */
.content {
  height: 100%;
  grid-area: contentDiv;
  background-color: var(--content-bg-color);
  position: relative;
}

.content div * {
  z-index: 1;
}

.content::before,
.content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 20px;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 100%, 0),
    var(--content-bg-color)
  );
  pointer-events: none;
  z-index: 2;
}

.content::before {
  top: 0;
  transform: rotate(180deg);
}

.content::after {
  bottom: 0;
}

/* Home */
/* #region */
.content .home {
  height: 100%;
  display: grid;
  grid-template: repeat(4, 40%) / 1fr;
  grid-template-areas:
    "about"
    "hours"
    "locations"
    "reviews";
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
}

.content .home div {
  background-color: var(--content-card-bg-color);
  height: 90%;
  width: 90%;
}

.content .home .background {
  height: 100%;
  width: 100%;
  grid-column: 1 / span all;
  grid-row: 1 / span all;
  z-index: 0;
}

.content .home img {
  filter: drop-shadow(2px 2px 4px grey);
}

.content .home div p {
  width: 70%;
}

.content .home .title {
  grid-area: title;
  text-align: center;
  align-self: end;
  font-size: 1.2rem;
  font-weight: bold;
}

.content .home .text {
  grid-area: text;
  text-align: center;
  padding-bottom: 10px;
}

.content .home .sub-text {
  grid-area: sub-text;
  text-align: center;
  align-self: start;
  padding-bottom: 10px;
  font-size: 0.8rem;
}

.content .home .wrapper {
  grid-area: text;
  background: transparent;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
}

.content .home .about {
  grid-area: about;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  grid-template-areas:
    "title"
    "text";
  align-items: center;
  justify-items: center;
}

.content .home .hours {
  grid-area: hours;
  display: grid;
  grid-template: 1fr 2fr 1fr / 1fr;
  grid-template-areas:
    "title"
    "text"
    "sub-text";
  align-items: center;
  justify-items: center;
}

.content .home .locations {
  grid-area: locations;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  grid-template-areas:
    "title"
    "text";
  align-items: center;
  justify-items: center;
}

.content .home .reviews {
  grid-area: reviews;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  grid-template-areas:
    "title"
    "text";
  align-items: center;
  justify-items: center;
}

/* #endregion */

/* Menu */
/* #region */
.content .menu {
  height: 100%;
  display: grid;
  grid-template: repeat(4, min-content min-content) / 1fr;
  grid-template-areas:
    "appetizers-title"
    "appetizers-wrapper"
    "entrees-title"
    "entrees-wrapper"
    "beverages-title"
    "beverages-wrapper"
    "desserts-title"
    "desserts-wrapper";
  gap: 15px 0px;
  justify-items: center;
  overflow-y: scroll;
}

.content .menu .section {
  display: grid;
  height: 7vh;
  width: 90%;
  border-bottom: 1px dotted black;
}

.content .menu .section .title {
  align-self: end;
  justify-self: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px grey;
}

.content .menu .wrapper {
  position: relative;
  display: grid;
  justify-items: center;

  height: min-content;
  width: 90vw;
}

.content .menu .wrapper .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(2px 2px 4px grey);
}

.content .menu .wrapper .entry {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 3fr 1fr 1fr;
  grid-template-areas:
    ". . . ."
    ". title price ."
    ". description description ."
    ". . . .";
  gap: 15px 0px;
  background-color: var(--content-card-bg-color);
  width: 100%;
  height: 12vh;
}

.content .menu .wrapper .entry.spacer {
  height: 5vh;
}

.content .menu .wrapper .entry .title {
  grid-area: title;
  font-weight: bold;
}

.content .menu .wrapper .entry .price {
  grid-area: price;
  justify-self: end;
  font-style: italic;
}

.content .menu .wrapper .entry .description {
  grid-area: description;
  font-size: 0.9rem;
}

.content .menu .section.title.appetizers {
  grid-area: appetizers-title;
}

.content .menu .wrapper.appetizers {
  grid-area: appetizers-wrapper;
}

.content .menu .section.title.entrees {
  grid-area: entrees-title;
}

.content .menu .wrapper.entrees {
  grid-area: entrees-wrapper;
}

.content .menu .section.title.beverages {
  grid-area: beverages-title;
}

.content .menu .wrapper.beverages {
  grid-area: beverages-wrapper;
}

.content .menu .section.title.desserts {
  grid-area: desserts-title;
}

.content .menu .wrapper.desserts {
  grid-area: desserts-wrapper;
}

/* #endregion */

/* Contact */
/* #region */
.content .contact {
  height: 100%;
  display: grid;
  grid-template: 50% 90% / 1fr;
  grid-template-areas:
    "leylines"
    "message";
  justify-items: center;
  align-items: center;
  overflow-y: scroll;
}

.content .contact div {
  background-color: var(--content-card-bg-color);
  height: 90%;
  width: 90%;
}

.content .contact div p {
  width: 70%;
}

.content .contact .background {
  height: 100%;
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  z-index: 0;
}

.content .contact .wrapper {
  grid-area: text;
  background: transparent;
  display: grid;
  text-align: center;
  align-items: center;
  justify-items: center;
  grid-auto-rows: 8vh;
}

.content .contact .title {
  grid-area: title;
  text-align: center;
  align-self: end;
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: center;
}

.content .contact .text {
  text-align: center;
  padding-bottom: 10px;
}

.content .contact img {
  filter: drop-shadow(2px 2px 4px grey);
}

.content .contact .leylines {
  grid-area: leylines;
  display: grid;
  grid-template: 1fr 4fr / 1fr;
  grid-template-areas:
    "title"
    "text";
  align-items: center;
  justify-items: center;
}

.content .contact .message {
  grid-area: message;
  display: grid;
  grid-template: 0.5fr 1fr 5fr 0.7fr 0.5fr/ 1fr 2fr 2fr 1fr;
  grid-template-areas:
    ". . . ."
    ". title title ."
    ". form form ."
    ". . submit ."
    ". . . .";
  row-gap: 15px;
}

.content .contact .message form {
  grid-area: form;
  display: grid;
  grid-template: 0.5fr 1fr 0.5fr 4fr 1fr/ 1fr 1fr;
  grid-template-areas:
    "subject-label subject-label"
    "subject subject"
    "message-content-label message-content-label"
    "message-content message-content";
}

.content .contact label {
  align-self: center;
  font-style: italic;
}

.content .contact label.subject {
  grid-area: subject-label;
}

.content .contact input.subject {
  grid-area: subject;
  height: 1.5rem;
  background-color: var(--form-bg-color);
  border: 1px solid grey;
}

.content .contact label.message-content {
  grid-area: message-content-label;
}

.content .contact textarea.message-content {
  grid-area: message-content;
  background-color: var(--form-bg-color);
  border: 1px solid grey;
  resize: none;
}

.content .contact .submit {
  grid-area: submit;
  background-color: var(--form-bg-color);
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid grey;
  border-radius: 10px;
}

.content .contact .submit:hover {
  background-color: hsl(45, 33%, 61%);
  border: 2px solid grey;
}

.content .contact .submit:active {
  background-color: hsl(43, 18%, 51%);
}

/* #endregion */

/* #endregion */

/* Footer Div */
/* #region */
.footer {
  grid-area: footerDiv;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "author ."
    "author .";
  align-items: center;
  justify-items: center;

  background-color: var(--footer-bg-color);
}

.footer .author {
  grid-area: author;
  font-size: 0.8rem;
}

.footer .attribution {
  font-size: 0.7rem;
}

/* #endregion */
